<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Doctor list</title>
</head>
<body>
  <div class="banner"> 
    <div class="navbar">
      <img src="static/imgs/logo.png" class="logo"> <br> <br>
      <h1>Wealth Care</h1>

      <ul>
        <li><a href="{{ url_for("back_home") }}" class="link" id="home_link">Home</a></li>
        <li><a href="{{ url_for("doctors_page") }}" class="link">Doctors</a></li>
        <li><a href="#" class="link active">My appoitments</a></li>
        <li><a href="#" class="link">Contact us</a></li>
      </ul>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flashed" >
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
   
   
    
      <table class="appointments">
          <thead>
              <tr>
                  <th>Doctor name</th>
                  <th>Date</th>
                  <th>Slot</th>
                  <th>Edit</th>
                  <th>Remove</th>
              </tr>
          </thead>
          <tbody>
              {% for appointment in appointments %}
              <tr>
                  <td>{{ appointment['doctor_name'] }}</td>
                  <td>{{ appointment['date'] }}</td>
                  <td>{{ appointment['slot'] }}</td>
                  <td><a href="{{ url_for('edit_page', appointment_id=appointment['appointment_id'] ,doctor_id=appointment['doctor_id']) }}" class="table_text">Edit</a></td>
                  <td><a href="{{ url_for('delete_appointment', appointment_id=appointment['appointment_id']) }}" class="table_text">Remove</a></td>
  
              </tr>
              {% endfor %}
          </tbody>
      </table>      
  </div> 
  

  <script src="static/script.js"></script>

</body>
</html>