<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Contact us</title>
</head>
<body>
  <div class="banner"> 
    <div class="navbar">
      <img src="static/imgs/logo.png" class="logo"> <br> <br>
      <h1><a class="namelogo" href="{{ url_for("welcome_page") }}">Wealth Care</a></h1>

    </div>

    <div class="contactsinfo">
      <div class="box">
        <div class="icon"><ion-icon name="location-outline"></ion-icon></div>
        <div class="address">

          <h3>Address</h3>
          <p>1115 E Center St, <br> Madisonville, Kentucky,<br> 42431 </p>
        </div>

      </div>
      <div class="box">
        <div class="icon"><ion-icon name="call-outline"></ion-icon></div>
        <div class="address">

          <h3>Phone</h3>
          <p>(270) 821-9817 </p>
        </div>

      </div>
      <div class="box">
        <div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
        <div class="address">

          <h3>Email</h3>
          <p>wealthcare.org@gmail </p>
        </div>

      </div>

    </div>
  <div class="form-box">
    <div class="register-container"> 
      <div class="top">
        <header> Send Messages</header>
      </div> 
          <form>
            <div class="two-forms">
              <div class="input-box">
                <input type="text" name="" required="required" class="input-field" placeholder="Enter your full name">
                <i class="bx bx-user"></i>
              </div>
              <div class="input-box">
                <input type="text" name="" required="required" class="input-field" placeholder="Enter your email">
                <i class="bx bx-user"></i>
              </div>
            </div>
            <div class="input-box">
              <textarea required="required" class="input-field textarea" placeholder="Type your message here.."></textarea>
              <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
              <input type="submit" name="" value="send" class="submit">
              <i class="bx bx-user"></i>
            </div>
          </form>
        </div>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  
</body>
</html>