<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Home</title>
</head>
<body>
  <div class="banner"> 
    <div class="navbar">
      <img src="static/imgs/logo.png" class="logo"> <br> <br>
      <h1>Wealth Care</h1>

      <ul>
        <li><a href="#" class="link active" >Home</a></li>
        <li><a href="{{ url_for("doctors_page") }}" class="link">Doctors</a></li>
        <li><a href="{{ url_for("my_appointments") }}" class="link">My appoitments</a></li>
        <li><a href="{{ url_for("contact_us") }}" class="link">Contact us</a></li>
        <li><a href="{{ url_for("logout") }}"" class="button" id="logoutbutton">Logout</a></li>

      </ul>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flashed" >
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
    
  
    <div class="content" id = "content" >
      <h2> A health care center you can trust</h2>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, beatae. Obcaecati atque eum rerum quam

      </h3>
      
    </div>
    <form action="{{ url_for("doctor_search") }}" method="post" id="form">
      <div class="form-box" >
        <div class="search">
          <input type="text" class="input-field" placeholder="Search for a doctor name or specialization" name="search" id="search">
          <input type="submit" class="submit" value="Search">
          <span id="search-error" class="error-message"></span>
          <i class="bx bx-lock-alt"></i>
        </div>
      </div>
    </form>

        
  </div> 

  <script src="static/home.js"></script>


</body>
</html>