<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Book an appointment</title>
</head>
<body>
  <div class="banner"> 
    <div class="navbar">
      <img src="static/imgs/logo.png" class="logo"> <br> <br>
      <h1>Wealth Care</h1>

      <ul>
        <li><a href="{{ url_for("back_home") }}" class="link" id="home_link">Home</a></li>
        <li><a href="{{ url_for("doctors_page") }}" class="link">Doctors</a></li>
        <li><a href="{{ url_for("my_appointments") }}" class="link">My appoitments</a></li>
        <li><a href="{{ url_for("contact_us") }}" class="link">Contact us</a></li>
        <li><a href="{{ url_for("logout") }}"" class="button" id="logoutbutton">Logout</a></li>

      </ul>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flashed" >
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
    <div class="form-box" >
  
      <!------------------- registration form -------------------------->
      <div class="register-container" >
          <div class="top">
              <header>Book your appointment</header>
          </div>
          <form action="{{ url_for("reservation_form") }}" method="post" id="form">
            
            <div class="input-box">
              <input hidden type=""  id="doctor_id" value="{{ doctor_id }}" name="doctor_id">
              <input hidden type=""  id="available_slots" value="{{ available_slots }}">
              <input hidden type=""  id ="appointments" value="{{ appointments }}">
              
              <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
              <input type="phone" class="input-field" placeholder="Phone Number" name="phonenumber" id="phone_number">
              <span id="phonenumber-error" class="error-message"></span>
              <i class="bx bx-lock-alt"></i>
          </div>
          <div class="input-box">
            <input type="date" id="appointment-date" class="input-field" name="date" min="" required >
          </div>
          <div class="input-box">
            <select name="slot" id="slot" class="input-field" name="slot" required >
              <option value="">Select a slot</option>
            </select>
          </div>
          <div class="input-box">
                <input type="submit" class="submit" value="Book">
          </div>
        </form>
      </div>
    </div>
  </div> 
  


  <script src="static/logout.js"></script>
  <script src="static/validation.js"></script>
  <script src="static/availability.js"></script>
  

</body>
</html>