<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Welcome</title>
</head>
<body>
  <div class="banner"> 
    <div class="navbar">
      <img src="static/imgs/logo.png" class="logo"> <br> <br>
      <h1>Wealth Care</h1>

      <ul>
        <li><a href="{{ url_for("back_home") }}" class="link" id="home_link">Home</a></li>
        <li><a href="{{ url_for("doctors_page") }}" class="link">Doctors</a></li>
        <li><a href="{{ url_for("my_appointments") }}" class="link">My appoitments</a></li>
        <li><a href="#" class="link">Contact us</a></li>

      </ul>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flashed" >
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}
    <div class="form-box" >
  
      <!------------------- registration form -------------------------->
      <div class="register-container" >
          <div class="top">
              
              <header>Book your appointment</header>
          </div>
          <form action="{{ url_for("reservation_form") }}" method="post" >
            
            <div class="input-box">
              <input hidden type="number" class="input-field" placeholder="Doctor Id" name="doctor_id" value="{{ doctor['doctor_id'] }}">
              
              <i class="bx bx-lock-alt"></i>
          </div>
            <div class="input-box">
              <input type="phone" class="input-field" placeholder="Phone Number" name="phonenumber">
              <i class="bx bx-lock-alt"></i>
          </div>
          <div class="two-options">

            <div class="input-box">
              
          <select name="date" id="date" class="input-field" required>
            <option value="" class="options">Select a date</option>
            {% for date in doctor['available_dates'] %}
              <option value="{{ date }}" class="options">{{ date }}</option>
            {% endfor %}
          </select>
              <i class="bx bx-lock-alt"></i>
          </div>

          <div class="input-box">
            <select name="slot" id="slot" class="input-field" required>
              <option value="" class="options">Select a slot</option>
              {% for slot in doctor['available_slots'] %}
                <option value="{{ slot }}" class="options">{{ slot }}</option>
              {% endfor %}
            </select>
            <i class="bx bx-lock-alt"></i>
        </div>
          </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Book">
            </div>
        </form>
      </div>
    </div>
  </div> 
  


  <script src="static/script.js"></script>

</body>
</html>