<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Signup</title>
</head>
<body>
  <div class="banner ">
    <div class="navbar">
      <img src="static/imgs/logo.png" class="logo"> <br> <br>
      <h1><a class="namelogo" href="{{ url_for("welcome_page") }}">Wealth Care</a></h1>

      <ul>
    
        <li><a href="{{ url_for("contact_us") }}" class="link">Contact us</a></li>

      </ul>

    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flashed" >
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
    {% endwith %}

    <div class="form-box" >
  
      <!------------------- registration form -------------------------->
      <div class="register-container" >
          <div class="top">
              <span>Have an account? <a href="{{ url_for("signin_page") }}" >Login</a></span>
              <header>Sign Up</header>
          </div>
          <form action="{{ url_for("newuser") }}" method="post" id="form">

            <div class="two-forms">
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="First name" name="firstname" id="first_name">
                    <span id="firstname-error" class="error-message"></span>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Last name" name="lastname" id="last_name">
                    <span id="lastname-error" class="error-message"></span>
                    <i class="bx bx-user"></i>
                </div>
            </div>
            <div class="two-forms">

              <div class="input-box">
                  <input type="text" class="input-field" placeholder="Email" name="email" id="email">
                  <span id="email-error" class="error-message"></span>
                  <i class="bx bx-envelope"></i>
              </div>
              <div class="input-box">
                  <input type="password" class="input-field" placeholder="Password" name="password" id="password">
                  <span id="password-error" class="error-message"></span>
                  <i class="bx bx-lock-alt"></i>
              </div>
            </div>
            <div class="input-box">
              <input type="phone" class="input-field" placeholder="Phone Number" name="phonenumber" id="phone_number">
              <span id="phonenumber-error" class="error-message"></span>
              <i class="bx bx-lock-alt"></i>
          </div>
          <div class="two-forms">

            <div class="input-box">
              <input type="date" class="input-field" placeholder="Date of birth" name="date_of_birth" id="date_of_birth">
              <span id="dob-error" class="error-message"></span>
              <i class="bx bx-lock-alt"></i> 
          </div>
          <div class="input-box">
                                              
              <select name="gender" id="gender" class="input-field">
                <option value="">Select Gender </option>
                <option value="Male" class="options">Male</option>
                <option value="Female" class="options">Female</option>
            </select>
              <i class="bx bx-lock-alt"></i>
             
        </div>
          </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Register" id="signup">
            </div>
          </form>
      </div>
    </div>      
  </div>
  <script src="static/signupvalidation.js"></script>
  
</body>
</html>